.venv/
.env
*.cbf
*.egg-info
*.ini
*.log
*.mf4
*~
*/missions/temp*
.~$dbc_parts_general_rcs.xlsx
__pycache__/
*.pyc
*.pyd
*.pyo
*.orig
build/*
logs/
logs*
.vscode/
.idea/
.idea/workspace.xml
.pytest_cache/
.pytest_cache/*
