#icon {
    height: 60px;
    width: auto;
}

#hero-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-list {
    display: flex;
    flex-direction: row;
    flex-wrap: 1;
    gap: 3rem;
}

.hero-list a {
    text-decoration: none;
}

#banner {
    display: flex;
    justify-content: center;
}